@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Playfair+Display:700,900");
html {
  height: 100%;
  font-size: 1rem; }

body {
  background: #ecf0f1;
  height: 100%;
  margin: 0; }

body.locked {
  overflow: hidden; }

* {
  box-sizing: border-box; }

a {
  color: inherit;
  cursor: pointer; }

.tippy-popper {
  font-family: "Nunito", sans-serif;
  font-weight: 600; }

body {
  text-align: center; }

#cover {
  background: white;
  position: fixed;
  height: 100%;
  top: 0;
  width: 100%;
  left: 0;
  opacity: 0.80;
  visibility: hidden;
  cursor: pointer;
  z-index: 10; }

#cover.active {
  visibility: visible; }

#header {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 80px;
  left: 0;
  top: 0;
  padding: 0 16px;
  user-select: none; }
  #header .left .active a, #header .right .active a {
    cursor: default; }
  #header .left p, #header .right p {
    margin: 16px 0;
    clear: none;
    display: inline-block;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 1.1rem; }
    #header .left p a, #header .right p a {
      display: inline-block;
      padding: 10px;
      text-decoration: none; }
  #header .left p:hover, #header .left p.active, #header .right p:hover, #header .right p.active {
    color: white; }
  #header .left {
    float: left;
    height: 100%; }
    #header .left p {
      color: #ff404e; }
    #header .left p:hover, #header .left p.active {
      background: #ff404e; }
  #header .right {
    float: right;
    height: 100%; }
    #header .right p {
      color: #012d41;
      text-transform: lowercase; }
    #header .right p:hover, #header .right p.active {
      background: #012d41; }

#splash {
  width: 100%;
  margin: 80px 0 0 0;
  padding: 50px 0;
  text-align: center;
  user-select: none; }
  #splash img {
    max-width: 300px;
    width: 90%; }

#languages .container, #tools .container, #projects .container {
  width: 420px;
  margin: 0 auto;
  text-align: left; }
  #languages .container h3, #tools .container h3, #projects .container h3 {
    margin: 0 8px;
    text-align: left;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    color: #012d41;
    font-size: 1.10rem;
    text-transform: lowercase;
    opacity: 0.90; }
  #languages .container hr, #tools .container hr, #projects .container hr {
    margin: 5px 0;
    border: 0;
    border-top: 1px solid #012d41; }

#languages, #tools {
  max-height: 208px;
  overflow: hidden;
  user-select: none; }
  #languages .container img, #tools .container img {
    width: 60px;
    margin: 10px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%); }

#separator {
  width: 100%;
  padding: 60px 0; }
  #separator h3 {
    margin: 0;
    color: #012d41;
    font-family: "Nunito", sans-serif;
    font-size: 2rem;
    font-weight: 900; }

#projects {
  user-select: none; }
  #projects .container {
    margin: 0 auto 30px auto;
    width: 420px; }
    #projects .container .separator {
      visibility: hidden; }
    #projects .container .project:nth-of-type(odd) .info {
      float: left;
      padding: 20px 0 0 20px;
      text-align: left; }
    #projects .container .project:nth-of-type(odd) .preview {
      float: right; }
    #projects .container .project:nth-of-type(even) .info {
      float: right;
      padding: 20px 20px 0 0;
      text-align: right; }
    #projects .container .project:nth-of-type(even) .preview {
      float: left; }
    #projects .container .project {
      width: 100%;
      height: 220px;
      margin: 0 0 0 0;
      color: #012d41; }
      #projects .container .project .info {
        height: 100%;
        width: 45%; }
        #projects .container .project .info h4 {
          margin: 0 0 5px 0;
          font-size: 1.4rem;
          font-family: "Nunito", sans-serif;
          font-weight: 800;
          line-height: 1.3rem; }
        #projects .container .project .info .date {
          margin: 0;
          font-family: "Nunito", sans-serif;
          font-weight: 400; }
        #projects .container .project .info .description {
          margin: 6px 0 0 0;
          font-family: "Nunito", sans-serif;
          font-weight: 300;
          font-style: italic; }
        #projects .container .project .info .button {
          background: #012d41;
          display: inline-block;
          margin: 10px 0 0 0;
          color: #ecf0f1;
          font-family: "Nunito", sans-serif;
          font-weight: 900;
          font-size: 1.1rem;
          line-height: 1.5rem; }
          #projects .container .project .info .button a {
            display: inline-block;
            padding: 10px;
            text-decoration: none; }
        #projects .container .project .info .button:hover {
          background: #ff404e; }
        #projects .container .project .info .button.disabled {
          pointer-events: none;
          opacity: 0.30; }
      #projects .container .project .preview {
        height: 100%;
        width: 55%;
        padding: 50px 10px;
        vertical-align: middle; }
        #projects .container .project .preview img {
          width: 100%;
          vertical-align: middle;
          cursor: pointer; }
        #projects .container .project .preview img.scale {
          position: fixed;
          top: calc(50% - 270px);
          width: 800px;
          left: calc(50% - 400px);
          z-index: 15;
          cursor: default; }
