@import "base"

#cover
    background: white

    position: fixed

    height: 100%
    top: 0
    width: 100%
    left: 0

    opacity: 0.80
    visibility: hidden

    cursor: pointer

    z-index: 10

#cover.active
    visibility: visible

#splash
    width: 100%

    margin: 80px 0 0 0
    padding: 50px 0

    text-align: center
    @include noselect

    img
        max-width: 300px
        width: 90%

#languages, #tools, #projects

    .container
        width: 420px

        margin: 0 auto

        text-align: left

        h3
            margin: 0 8px

            text-align: left
            font-family: $nunito
            font-weight: 800
            color: $dark
            font-size: 1.10rem
            text-transform: lowercase

            opacity: 0.90

        hr
            margin: 5px 0

            border: 0
            border-top: 1px solid $dark

#languages, #tools
    max-height: 208px
    overflow: hidden
    @include noselect

    .container

        img
            width: 60px
            margin: 10px

            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale")
            filter: gray
            -webkit-filter: grayscale(100%)

#separator
    width: 100%

    padding: 60px 0

    text-align: center

    @include noselect

    h3
        margin: 0

        color: $dark
        font-family: $nunito
        font-size: 2rem
        font-weight: 900

#projects
    @include noselect

    .container
        margin: 0 auto 30px auto

        width: 420px

        .separator
            visibility: hidden

        .project:nth-of-type(odd)

            .info
                float: left

                padding: 20px 0 0 20px

                text-align: left

            .preview
                float: right

        .project:nth-of-type(even)

            .info
                float: right

                padding: 20px 20px 0 0

                text-align: right

            .preview
                float: left

        .project
            //background: gray

            width: 100%
            height: 220px

            margin: 0 0 0 0

            color: $dark

            .info
                height: 100%
                width: 45%

                h4
                    margin: 0 0 5px 0

                    font-size: 1.4rem
                    font-family: $nunito
                    font-weight: 800
                    line-height: 1.3rem

                .date
                    margin: 0

                    font-family: $nunito
                    font-weight: 400

                .description
                    margin: 6px 0 0 0

                    font-family: $nunito
                    font-weight: 300
                    font-style: italic

                .button
                    background: $dark

                    display: inline-block

                    margin: 10px 0 0 0

                    color: $athens
                    font-family: $nunito
                    font-weight: 900
                    font-size: 1.1rem
                    line-height: 1.5rem

                    a
                        display: inline-block

                        padding: 10px

                        text-decoration: none

                .button:hover
                    background: $accent

                .button.disabled
                    pointer-events: none

                    opacity: 0.30

            .preview
                height: 100%
                width: 55%

                padding: 50px 10px

                vertical-align: middle

                img
                    width: 100%

                    vertical-align: middle

                    cursor: pointer

                img.scale
                    position: fixed

                    top: calc(50% - 270px)
                    width: 800px
                    left: calc(50% - 400px)

                    z-index: 15

                    cursor: default
